.box{
    display: flex;
    flex-flow: nowrap row;
    margin: 3em;
}

.related-vids {
    margin-left: 5em;
    font-size: 15px;
}

.make-space{
    max-width: 1136px;
}

.in-line{
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    margin-bottom: 3em;
}

.text{
    margin-left: 1em;
}

.player {
    background-color: gray;
    padding: 2em;
}